# config can be in parent dir (I think this is already default)
config.stopBubbling=false

# setters return this
lombok.accessors.chain=true

lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
